[submodule "overview/phoneBookApp/mastering-Go-3rd"]
	path = overview/phoneBookApp/mastering-Go-3rd
	url = https://github.com/mactsouk/mastering-Go-3rd
[submodule "mastering-Go-3rd"]
	path = mastering-Go-3rd
	url = https://github.com/mactsouk/mastering-Go-3rd
